@import url(../../../constants/variables.css);

.bubble-container{
    margin: auto;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 300px;
    left: calc(50vw - 150px);
    --height-front: 6000px;
    --height-mid: 4000px;
    --height-back: 2000px;
}

.bubble-container > div{
    position: fixed;
    width: 100%;
    transition: top 3s cubic-bezier(0.1, 0.8, 0, 1);
    top: 0;
}

.bubble-container .front{
    height: var(--height-front);
}

.bubble-container .mid{
    height: var(--height-mid);
}

.bubble-container .back{
    height: var(--height-back);
}

.bubble-container.services > .front{
    top: calc(50vh - (var(--height-front) / 2));
}
.bubble-container.services > .mid{
    top: calc(50vh - (var(--height-mid) / 2));
}
.bubble-container.services > .back{
    top: calc(50vh - (var(--height-back) / 2));
}

.bubble-container.contact > .front{
    top: calc(100vh - var(--height-front));
}
.bubble-container.contact > .mid{
    top: calc(100vh - var(--height-mid));
}
.bubble-container.contact > .back{
    top: calc(100vh - var(--height-back));
}
  
.bubble{
    position: absolute;
    border-radius: 50%;
    background-color: var(--bubble-color);
}
.bubble_front{
    height: 175px;
    width: 175px;
}
.bubble_mid{
    height: 150px;
    width: 150px;
}
.bubble_back{
    height: 125px;
    width: 125px;
}