@import url(../../../constants/variables.css);

header{
    background-color: var(--background);
    height: 145px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s;
}

header .light-blue-bar{
    background-color: var(--bps-light-blue);
    height: 4px;
    width: 75%;
    position: absolute;
    top: 0;
    left: 0;
}

header .yellow-bar{
    background-color: var(--bps-yellow);
    height: 5px;
    width: 65%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.header-logo-container{
    padding: 10px;
    height: 145px;
    width: 263px;
    background-color: var(--logo-background);
    box-shadow: inset 0px 0px 10px 5px var(--background);
    transition: all 0.3s;
}

.header-logo{
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

/* commented parts were used when the burger menu had to only show up on mobile */

#burger{
    display: flex;
    justify-content: right;
    height: 50px;
    width: 100px;
    background-color: var(--burger-background);
    border-radius: 15px 0 0 15px;
    position: fixed;
    /*top: -40px;*/
    top: 30px;
    right: 0px;
    transition: all 0.5s;
    /*opacity: 0;*/
    opacity: 1;
    z-index: 100;
    cursor: pointer;
}

#burger p{
    width: 60px;
    padding-right: 10px;
    text-align: center;
    align-self: center;
}

/* #burger.visible{
    top: 30px;
    opacity: 1;
} */

.menu-bar{
    height: var(--menu-bar-height);
    width: var(--menu-bar-width);
    --x-offset: calc(var(--menu-bar-width) / 2);
    --y-offset: calc(var(--menu-bar-height) / 2);
    border-radius: var(--menu-bar-width);
    background-color: var(--burger-button);
    transition: all 0.3s;
    position: absolute;
    left: calc(25% - var(--x-offset));
}

.menu-bar:first-child{
    top: calc(30% - var(--y-offset));
}

.menu-bar:nth-child(2){
    top: calc(50% - var(--y-offset));
}

.menu-bar:nth-child(3){
    top: calc(70% - var(--y-offset));
}

#burger.burger-open .menu-bar:first-child{
    top: calc(50% - var(--y-offset));
    rotate: 0.375turn;
}

#burger.burger-open .menu-bar:nth-child(2){
    opacity: 0;
    width: var(--x-offset);
}

#burger.burger-open .menu-bar:nth-child(3){
    top: calc(50% - var(--y-offset));
    rotate: -0.375turn;
}

nav{
    flex: 1;
    margin-left: 20px;
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

nav .nav-button{
    width: 150px;
    text-align: center;
    padding: 1px 15px 0;
    height: 34px;
    font-weight: bold;
    border-radius: 30px;
    margin: 0 5px 3px;
    align-content: center;
    color: var(--menu-link-text);
    background-color: var(--menu-link-background);
    cursor: pointer;
}

nav .nav-button:hover{
    color: var(--menu-link-hover-text);
    background-color: var(--menu-link-hover-background)
}


@media screen and (max-width: 768px){
    header{
        height: 110px;
    }
    
    .header-logo-container{
        height: 103px;
        width: 182px;
    }

    nav/*.hidden-menu*/{
        transition: all 0.3s;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 99;
        height: 100vh;
        width: 100vw;
        background-color: var(--menu-background);
        justify-content: flex-start;
        gap: 10px;
        padding: 100px 20px 20px;
    }
    
    nav/*.hidden-menu*/.nav-open{
        right: 0;
    }
    
    nav/*.hidden-menu*/ .nav-button{
        background-color: var(--hidden-menu-link-background);
        color: var(--hidden-menu-link-text);
        height: 40px;
        min-width: 200px;
        max-width: 300px;
        transition: all 0.2s;
    }
    
    nav/*.hidden-menu*/ .nav-button:hover{
        background-color: var(--hidden-menu-link-hover-background);
        color: var(--hidden-menu-link-hover-text);
    }
}

@media screen and (min-width: 769px){
    header.small{
        position: sticky;
        top: 0;
        height: 100px; 
    }
    
    header.small .header-logo-container{
        height: 83px;
        width: 142px;
    }

    nav{
        flex-flow: row wrap;
    }

    #burger{
        display: none;
    }

    .nav-button{
        transition: all 0.2s;
    }
}