/* variables *********************************/

#root{
    /*structure elements*/
    --background: #f5f5f5;
    --footer-background: #1d396c;
    --bps-yellow: #ffad05;
    --bps-light-blue: #b3d3f8;
    --bubble-color: #bdf8;

    /*menu elements*/
    --burger-background: #f5f5f5;
    --burger-button: #1f396c;
    --burger-text: #1f396c;
    --menu-background: #1f396c;
    --menu-text: #f5f5f5;
    --menu-button-hover: #485a80;
    --menu-bar-height: 4px;
    --menu-bar-width: 26px;

    /*titles*/
    --title-text: #485a80;
    --title-background: #f5f5f5;
    --title-outline: #b3d3f8;
    --title-gradient: linear-gradient(0.47turn, #b3d3f8 0%, #f5f5f500 40%);
    --title-gradient-large: radial-gradient(ellipse at top, #b3d3f8 0%, #f5f5f500 65%);

    /*content*/
    --base-text: #1f396c;
    --light-text: #f5f5f5;
    --content-background: #f5f5f588;
    --footer-text: #f5f5f5;
    --logo-background: #ffffff;

    /*buttons*/
    --button-base-outline: #ffad05;
    --button-hover-outline: #b3d3f8;
    --button-background: #1f396c;
    --button-text: #f5f5f5;
    --button-arrow-background: #f5f5f5;
    --button-arrow-outline-base: #ffad05;
    --button-arrow-outline-hover: #b3d3f8;
    --button-emphasis-background: #f5f5f5;

    /*navigation*/
    --menu-link-text: #485a80;
    --menu-link-background: #f5f5f5;
    --menu-link-hover-text: #f5f5f5;
    --menu-link-hover-background: #1f396c;
    --hidden-menu-link-text: #f5f5f5;
    --hidden-menu-link-background: #2f497c;
    --hidden-menu-link-hover-text: #485a80;
    --hidden-menu-link-hover-background: #f5f5f5;
    --footer-link-text: #f5f5f5;
    --footer-link-background : #2f497c;
    --footer-link-hover-text: #485a80;
    --footer-link-hover-background: #f5f5f5;

    /*form inputs*/
    --input-background: #f5f5f5;
    --input-placeholder-text: #789;
    --input-text: #1f396c;
    --input-outline-base: #b3d3f8;
    --input-outline-focus: #1f396c;
    --input-outline-valid: #b9dd65;
    --input-invalid: #f76;
    --checkbox-outline-base: #b3d3f8;
    --checkbox-outline-checked: #ffad05;
    --checkbox-checkmark: #1f396c;
}